//菜单栏的相关配置信息
[menu]

//菜单栏的显现和隐藏
menustrip_visible =true

//常用功能
//名称
common_func1=记事本,命令提示符,
//和名称想对应的应用程序名称
common_func2=notepad.exe,cmd.exe,

//常用网址
//名称
common_url1=百度,谷歌,乱码个人博客,
//和名称相对应的URL地址
common_url2=www.baidu.com,www.google.com,www.badteen.net,

//主窗体相关信息
[main]

//自我保护，如果为0表示启动时不开启自我保护，为1表示启动时开启ssdt保护，为2表示开启shadow保护，为3表示开启所有保护
SelfProtection=0

//开启插件功能，默认是不开启的，改为true即开启，开启后请在本目录下新建plugins子目录
//把插件放入里面就OK了
enable_plugin=true

//网络连接端口查看，如果为false表示不开启物理地址查看，为true表示开启物理地址查看
//优先QQWry.Dat，如果有QQWry.Dat在根目录的话，下面的值就没有意义，优先读取QQWry.Dat里面的信息
enable_ip_physical_addr_view=false

//记录lv_module的相关信息
lv_module_visible=false
lv_module_height=159

//文件，保存用户输入的目录
cbo_file_items=

//注册表
cbo_reg_items=

//垃圾清理
//类型:说明,每一项之间以分号结束
//示例：*.txt:*.txt 文本文件;*.exe:*.exe 可执行程序
tv_other_clean_1=*.log:Windows日志文件;
//上一次目标文件夹
tv_other_clean_2=C:\
//上一次的扫描类型信息
tv_other_clean_3=*.??$;*.??~;*.?~?;*.~*;*.^*;*.temp;*.tmp;*.~mp;*._mp;*.$*;*.___;*.$$$;*.@@@;*.---;*.ftg;*.%%%;mscreate.dir;imagedb.aid;*.fts;*.gid;errorlog.txt;*.syd;comsetup.txt;directx.txt;mpcsetup.txt;netsetup.txt;*.prv;*.fnd;*.err;*.wbk;*.xlk;*.cdr_;*.diz;*.chk;*.mch;Thumbs.db;*.dmp;*.log;
